body {
    direction:rtl;
    background-image: url(..//images/background_pale.jpg);
    background-repeat:round;
    background-size:cover;
    }

#container{
    Width: 960px;
    Margin: 0 auto;
    Height: 1100px;
    padding-right:50px;
    padding-top:20px;
}

h1{
    text-align:center;
    padding-top:45px; 
    font-size:60px;
    font-family:'Lucida Sans Unicode';
    color:darkred;
    }

.who {
    font-size:15pt;
    margin-right:70px;
    padding-top:35px;
    height:750px;
    width:720px;
    background-image:url(/images/profile.jpg);
    background-repeat:no-repeat;
    background-size:400px;
    background-position:center;
    background-position-y:310px;
}

.who p{
margin-top:20px;
}

h2{
   font-family:'Lucida Sans Unicode';
   font-size:30px;
   }


.findme {
    height: 50px;
    margin-top:70px;
    margin-right:70px;
}

.findme h2 {
    padding-bottom:10px;
}

.mail { 
   width:100px;
   height:50px;
   background-image:url('../images/Gmail.png');
   background-repeat:no-repeat;
   background-size:50px 50px;
   position:absolute;
   padding-left:20px;
}


.FB {
    height:43px;
    width:43px;
    background-image:url('/images/facebook.png');
    background-repeat:no-repeat;
    background-size:50px 50px;
    position:absolute;
   }


.army{
    font-size:15pt;
    margin-right:70px;
    padding-top:35px;
    height:460px;
    width:720px;
    background-image:url(/images/Misrad.png);
    background-repeat:no-repeat;
    background-size:170px;
    background-position:center;
    background-position-y:260px;
}

.army p {
margin-top:20px;
}

.education {
    font-size:15pt;
    margin-right:70px;
    padding-top:35px;
    height:480px;
    width:720px;
}
.education p {
margin-top:15px;
}
.education h2 {
    padding-bottom:10px;
}

.basic {
    font-size: 15pt;
    margin-right: 70px;
    padding-top: 35px;
    height: 230px;
    width: 750px;
    background-image:url(/images/london.jpg);
    background-repeat:no-repeat;
    background-size:220px;
    background-position:left;
    background-position-y:20px;
}

.basic p{
    width:360px;
    text-align:right;
    padding-bottom:25px;
}

.highway, .robo, .film{
    font-size:15pt;
    margin-right:70px;
    padding-top:35px;
    height:190px;
    width:750px;
}

.highway, .film{
    margin-top:-60px;
}

.salsa{
    font-size:15pt;
    margin-right:70px;
    padding-top:35px;
    height:130px;
    width:750px;
}

.JB, .cooking{
    font-size:15pt;
    margin-right:70px;
    padding-top:35px;
    height:210px;
    width:750px;
}

.art{
    font-size:15pt;
    margin-right:70px;
    padding-top:35px;
    height:330px;
    width:750px;
    text-align:right;
    background-image:url(/images/cactus.PNG);
    background-repeat:no-repeat;
    background-size:250px;
    background-position:left;
    background-position-y:60px;
    }

.art p{
    width:360px;
}
p {
margin-top:15px;
}
h2 {
    padding-bottom:10px;
}




/*תפריט*/
#nav1 ul {
    list-style: none;
    width: 800px; 
    margin: 0 auto;
    padding-bottom:30px;
}

    #nav1 ul li {
        display: inline-block;
        float: right;
    }

        #nav1 ul li a {
            display: block;
            background-color: darkred;
            color: white;
            text-decoration: none;
            text-align: center;
            width: 180px;
            height: 35px;
            padding-top: 15px;
            font-size:20px;
        }

            #nav1 ul li a:hover {
                background-color:palevioletred;
                color:white;
            }

            /*#nav1 ul li a:active {
                background-color:lightpink;
                color:darkred;
            }*/
  
           nav ul li a#selected {
              background-color:lightpink;
              color:darkred;
              border-width:5px;
              font-weight:700;
             
             }
